#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&lt {
    // Activate Raise when another key is pressed and released while Escape is held.
    flavor = "balanced";
    tapping-term-ms = <200>;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        settings {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    macros {
        bt_clear: bt_clear {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&bt BT_CLR>;
        };
    };

    behaviors {
        bt_clear_hold: bt_clear_hold {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            // Other key presses must not bypass the one-second hold.
            flavor = "tap-preferred";
            tapping-term-ms = <1000>;
            bindings = <&bt_clear>, <&none>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "base";
// -----------------------------------------------------------------------------------------
// | TAB  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | BSPC |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  |  '   |
// | LSHFT|  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  | RSHFT|
//                    | ALT | GUI | RET |   | SPC | LWR | ESC |
            bindings = <
&kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
&kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
&kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
              &kp LALT &kp LGUI &kp RET   &kp SPACE &mo 1 &lt 2 ESC
            >;
        };

        lower_layer {
            display-name = "lower";
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
// | CTRL |     |     |     |     |     |   | LFT | DWN |  UP | RGT |     | DEL  |
// | SHFT |     |     |     |     |     |   | HOME| PGDN| PGUP| END |     |      |
//                    | ALT |     | ENT |   | SPC |     | ESC |
// Rightmost thumb: tap Escape, hold Raise (inherited from base).
// Hold Lower + Raise together for Settings.
            bindings = <
&kp TAB   &kp N1 &kp N2 &kp N3 &kp N4 &kp N5  &kp N6    &kp N7    &kp N8    &kp N9    &kp N0 &kp BSPC
&trans    &trans &trans &trans &trans &trans  &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &trans &kp DEL
&kp LSHFT &trans &trans &trans &trans &trans  &kp HOME  &kp PG_DN &kp PG_UP &kp END   &trans &trans
                        &trans &trans &kp RET &kp SPACE &trans    &trans
            >;
        };

        raise_layer {
            display-name = "raise";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// | CTRL |MUTE |VOL- |VOL+ |BRI- |BRI+ |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |PREV |PLAY |NEXT |     |     |   |  _  |  +  |  {  |  }  | "|" | RSHFT|
//                    | ALT |     | ENT |   | SPC |     | ESC |
// Rightmost thumb: tap Escape, hold Raise (inherited from base).
// VOL-/VOL+ volume down/up; BRI-/BRI+ brightness down/up; PLAY toggles play/pause.
// Release Raise to use the replaced letters/shortcuts.
            bindings = <
&kp TAB   &kp EXCL   &kp AT       &kp HASH     &kp DLLR     &kp PRCNT    &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp BSPC
&kp LCTRL &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &kp C_BRI_DN &kp C_BRI_UP &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &kp GRAVE
&kp LSHFT &kp C_PREV &kp C_PP     &kp C_NEXT   &trans       &trans       &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp PIPE &trans
                                  &trans       &trans       &kp RET      &kp SPACE &trans    &trans
            >;
        };

        settings_layer {
            display-name = "settings";
// -----------------------------------------------------------------------------------------
// |      | BT1 | BT2 | BT3 | BT4 | BT5 |   |     |     |     |     |     |      |
// |      |     |     |     |     |     |   |     |     |     |     |     |      |
// |      | STD |     |     |     |BTCLR|   |     |     |     |     |     |      |
//                    |     |     |     |   |     | LWR | RSE |
// Active only while Lower + Raise are held. Blank keys do nothing.
// STD: Z unlocks ZMK Studio. BTCLR: hold B for one second; taps do nothing.
            bindings = <
&none &bt BT_SEL 0   &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4       &none &none  &none  &none &none &none
&none &none          &none        &none        &none        &none              &none &none  &none  &none &none &none
&none &studio_unlock &none        &none        &none        &bt_clear_hold 0 0 &none &none  &none  &none &none &none
                                  &none        &none        &none              &none &trans &trans
            >;
        };

        extra_layer1 {
            display-name = "extra_layer1";
            status = "reserved";
        };

        extra_layer2 {
            display-name = "extra_layer2";
            status = "reserved";
        };
    };
};
